#calc-container {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
}

#num-layout {
    display: grid;
    width: 500px;
    height: 500px;
    border: 10px solid yellowgreen;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column: 2 / 3;
}

.results {
    display: grid;
    grid-column: 1;
    font-size: 3em;
}

.calcBtn, .op, .clear, .equals {
    border: 2px solid pink;
    padding: 10px;
    margin: 10px;
}

.history {
    display: flex;
    position: static;
    top: 15.5%;
    width: 20rem;
    height: 1rem;
    justify-content: flex-end;
    font-size: 0.9em;
    overflow: hidden;
    white-space: nowrap;
}

.display-value {
    display: flex;
    position: relative;
    top: 25%;
    height: 4rem;
    justify-content: end;
    align-items: end;
    padding: 5px;
    font-size: 1.5em;
    border: 2px solid peachpuff;
}

.display {
    border: 2px solid pink;
    padding: 10px;
    margin: 10px;
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}

.clear {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.add {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.subtract {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.multi {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}

.divide {
    grid-column: 4 / 5;
    grid-row: 5 / 6;
}

.num0 {
    grid-column: 2 / 3;
    grid-row: 6 / 7;
}

.num9 {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
}